In [1]:
begin
	import Pkg
    Pkg.activate()
	#Ojo, dado que activamos Pkg, ya no estamos en un entorno de notebooks reproducibles.
end

  Activating project at `~/.julia/environments/v1.11`

In [4]:
begin
	using DataFrames
	using Dates
	using CategoricalArrays
	using DuckDB
	using CSV
	using Statistics, Distributions;	

end

In [3]:
begin
    data = CSV.read("../dataset/bank-full.csv", DataFrame)
end

45210Ã—17 DataFrame
   Row â”‚ age    job           marital   education  default  balance  housing   â‹¯
       â”‚ Int64  String15      String15  String15   String3  Int64    String3   â‹¯
â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
     1 â”‚    58  management    married   tertiary   no          2143  yes       â‹¯
     2 â”‚    44  technician    single    secondary  no            29  yes
     3 â”‚    33  entrepreneur  married   secondary  no             2  yes
     4 â”‚    47  blue-collar   married   unknown    no          1506  yes
     5 â”‚    33  unknown       single    unknown    no             1  no        â‹¯
     6 â”‚    35  management    married   tertiary   no           231  yes
     7 â”‚    28  management    single    tertiary   no           447  yes
     8 â”‚    42  entrepreneur  divorced  tertiary   yes            2  yes
   â‹®   â”‚   â‹®         â‹®           â‹®          â‹®         â‹®        â‹®        â‹®      â‹±
 45204 â”‚    23  student       single    tertiary   no           113  no        â‹¯
 45205 â”‚    73  retired       married   secondary  no          2850  no
 45206 â”‚    25  technician    single    secondary  no           505  no
 45207 â”‚    51  technician    married   tertiary   no           825  no
 45208 â”‚    71  retired       divorced  primary    no          1729  no        â‹¯
 45209 â”‚    72  retired       married   secondary  no          5715  no
 45210 â”‚    57  blue-collar   married   secondary  no           668  no
                                               10 columns and 45195 rows omitted


---

# Feature Engineering

In [5]:
# Create DuckDB connection

println("ðŸ¦† Initializing DuckDB...")
db = DuckDB.DB()
conn = DuckDB.connect(db)
println("DuckDB connection established.")

# Export base data to DuckDB
DuckDB.register_table(conn, data, "banking_data")
println("âœ… Exported $(nrow(data)) rows to table 'banking_data'")

ðŸ¦† Initializing DuckDB...
DuckDB connection established.
âœ… Exported 45210 rows to table 'banking_data'